*{
background-color: white;
font-family: Arial, Helvetica, sans-serif;
}



body {
    background-color: white;
}

.hide {                 /* hides the questions until JS takes the class away and puts it back on */
    display: none;
}


.quizOver {
    display: none;
}

.start {
    display: flex;
    justify-content: center;
}

#timer {
    display: flex;
    justify-content: end;
    color: purple;

}   

.container {                            /* main container for the questions */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
}

#highScores{
    margin-top: 100px;
   text-align: center;
}

button {                                /* all buttons the same style */
    background-color: purple;
    color: white;
    border-radius: 5px;
    outline: none;
}
h1 {                      /* all h1 elements */
    font-size: 50px;
    margin: 50px;
}


